* {
	margin: 0;
	box-sizing: border-box;
}

.box {
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	transform: translateY(550px);
	animation: bounce 1.5s ;

	margin: 0 auto;
}

/*@keyframes bounce {
	0% {
		    transform: translateY(0px);
	}
	
	12.5% {
		    transform: translateY(550px);
	}

	25% {   
	 transform: translateY(275px);
	}

	37.5% {
		 transform: translateY(550px);
	}

	50% {
		 transform: translateY(125px);
	}
	62.5% {
		 transform: translateY(550px);
	}
	75% {
		 transform: translateY(75px);
	}
	
	100% {
		 transform: translateY(550px);
	}
}

@keyframes bounce {
	from {
		    transform: translateY(0px);
	}
	
	to {
		    transform: translateY(550px);
	}
	}*/

	@keyframes bounce {
		0% {
			transform: translateY(0px);
		}

		15% {   
			transform: translateY(550px);
		}

		30% {
			transform: translateY(137px);
		}


		45% {
			transform: translateY(550px);
		}

		60% {
			transform: translateY(275px);
		}

		75% {
			transform: translateY(550px);
		}

		90% {
			transform: translateY(500px);
		}

		100% {
			transform: translateY(550px);
		}

	}